{% if categories %}
	<ul id="site-nav" class="site-nav">
		{% for category in categories %}
			{% if category.children %}
				<li class="menu-lv-1 item dropdown mega-menu">
					<p class="nav-action menu__moblie">
						<a href="{{ category.href }}" aria-label="link">
							{{ category.name }}
						</a>
						<span class="icon-dropdown" data-toggle-menu-mb="">❯</span>
					</p>
				</li>
			{% else %}
				<li class="menu-lv-1 item">
					<p class="nav-action menu__moblie_end">
						<a href="{{ category.href }}" aria-label="link">{{ category.name }}</a>
					</p>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endif %}
